<div class="banner-wrapper">
  <div class="banner-text">
    <h1>Hi,</h1>
    <h1>I'm Nico</h1>
  </div>
  <%= cl_video_tag ENV['VIDEO'], autoplay: true, loop: true %>

  <ul class="tabs list-inline">
    <li class="text-center active tab-item"><a data-open="#about">About</a></li>
    <li class="text-center tab-item"><a data-open="#skills">Skills</a></li>
    <li class="text-center tab-item"><a data-open="#projects">Projects</a></li>
    <li class="text-center tab-item"><a data-open="#contact">Contact</a></li>
  </ul>
</div>

<div class="content-wrapper">
  <%= render 'shared/about' %>
  <%= render 'shared/skills' %>
  <%= render 'shared/projects' %>
  <%= render 'shared/contact' %>
</div>

<%= render 'shared/footer' %>
